.aGridBackgroundColor
{
    display: grid;
    grid-template-columns: 100% 100% 100% 100%;
    grid-template-rows: 20% 40% 20% 40%;
    gap: 20px;
    background-color: greenyellow;
    padding: 20px;
}
.aGridBackgroundBottom
{
    display: grid;
    grid-template-columns: 100% 20% 100% 100%;
    gap: 20px;
    background-color: rgb(199, 201, 195);
    padding: 20px;
}
.sun
{
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 60%;
    margin-left: 10in;
}
.sky
{
    height: 100;
    background: linear-gradient(to bottom, #87ceeb, #e8e0e0 90%);
}
.aHeader
{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.paragraph
{
    text-align: center;
    text-indent: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: rgb(137, 20, 220) !important;
}
h1
{  
    font-size: 2.14rem; 
    margin: 2%;
}
.grass
{
    background-color: green;
    height: 40px;
    width: 100%;
}
.filloutForm 
{
    position: relative;
    background-color: rgb(231, 226, 226);
    border: solid black 5px;
    border-radius: 9%;
    margin: 2rem;
    padding: 1rem;
    width: 200px;
    margin-left: auto;
    margin-right: auto

}
.moveTree
{
    margin-left: 1in;
    align-items: flex-end;
    height: 2vh;
}
.moveTree2
{
    margin-left: 5in;
    align-items: flex-end;
    height: 24vh;
}
.christmasTree
{   
    width: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 300px solid green;
    margin-left: 4in;

}
.treeStem
{
    background-color: brown;
    width: 30px;
    height: 80px;
    margin-left: 4.6in
}
.house
{
    margin-left: 6in;
}
.roof
{
    width: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 80px solid rgb(128, 90, 0);
    margin-left: 1in
}
.bottomHouse
{
    width: 80px;
    height: 100px;
    background-color: rgb(146, 102, 19);
    margin-left:1.3in;
}
input[type=submit]
{
    background-color: #a0b243; 
    border: 9;
    padding: 16px 32px;
    cursor: pointer;
}
.dirt 
{
    grid-area: 1 / col4-start / last-line / 6;
    width: 1400px;
    height: 100px;
    background-color: rgb(159, 118, 42);
}
/*
@media (min-width: 992px) 
{
    body 
    {
        max-width: 1500px;
        margin: auto;
    }
}*/

@media(max-width: 900px)
{
    div {
      padding:0px;
    }
}